{% extends "dashboard_base.html" %}

{% block title %}
Worker Dashboard
{% endblock %}


{% block page_title %}
Worker Dashboard
{% endblock %}


{% block dashboard_content %}

<div class="stats-grid">

    <div class="stat-card">

        <div class="stat-icon">
            Jobs
        </div>

        <div>

            <span>
                Available Jobs
            </span>

            <strong>
                0
            </strong>

        </div>

    </div>


    <div class="stat-card">

        <div class="stat-icon">
            Apps
        </div>

        <div>

            <span>
                My Applications
            </span>

            <strong>
                0
            </strong>

        </div>

    </div>


    <div class="stat-card">

        <div class="stat-icon">
            Done
        </div>

        <div>

            <span>
                Completed Jobs
            </span>

            <strong>
                0
            </strong>

        </div>

    </div>

</div>

{% endblock %}
