{% extends "dashboard_base.html" %}

{% block title %}
Customer Dashboard
{% endblock %}


{% block page_title %}
Customer Dashboard
{% endblock %}


{% block dashboard_content %}

<div class="stats-grid">

    <div class="stat-card">

        <div class="stat-icon">
            Jobs
        </div>

        <div>

            <span>
                Total Jobs
            </span>

            <strong>
                128
            </strong>

        </div>

    </div>


    <div class="stat-card">

        <div class="stat-icon">
            Apps
        </div>

        <div>

            <span>
                Applications
            </span>

            <strong>
                54
            </strong>

        </div>

    </div>


    <div class="stat-card">

        <div class="stat-icon">
            Done
        </div>

        <div>

            <span>
                Completed
            </span>

            <strong>
                36
            </strong>

        </div>

    </div>

</div>

{% endblock %}
