<header class="top-navbar">

    <div class="nav-container">

        <a
            href="/"
            class="brand"
        >

            <div class="brand-mark">
                SF
            </div>

            <div class="brand-text">

                <strong>
                    S. F Works
                </strong>

                <span>
                    Marketplace
                </span>

            </div>

        </a>


        <nav class="desktop-nav">

            <a href="/">
                Home
            </a>

            <a href="/jobs">
                Find Jobs
            </a>

            <a href="/workers">
                Find Workers
            </a>

            <a href="/about">
                About
            </a>

        </nav>


        <div class="nav-actions">

            <a
                href="/login"
                class="btn btn-outline"
            >
                Login
            </a>

            <a
                href="/register"
                class="btn btn-primary"
            >
                Get Started
            </a>

            <button
                class="mobile-menu-btn"
                id="mobileMenuBtn"
                type="button"
            >
                ☰
            </button>

        </div>

    </div>

</header>
