<aside
    class="dashboard-sidebar"
>

    <div class="sidebar-brand">

        <div class="brand-mark">
            SF
        </div>

        <div>

            <strong>
                S. F Works
            </strong>

            <span>
                Marketplace
            </span>

        </div>

    </div>


    <nav class="sidebar-nav">

        <a
            href="/dashboard"
            class="sidebar-link active"
        >

            <span>▦</span>

            Dashboard

        </a>


        <a
            href="/jobs"
            class="sidebar-link"
        >

            <span>⌕</span>

            Find Jobs

        </a>


        <a
            href="/profile"
            class="sidebar-link"
        >

            <span>◉</span>

            My Profile

        </a>


        <a
            href="/applications"
            class="sidebar-link"
        >

            <span>▤</span>

            Applications

        </a>


        <a
            href="/settings"
            class="sidebar-link"
        >

            <span>⚙</span>

            Settings

        </a>


        <div class="sidebar-divider"></div>


        <a
            href="/logout"
            class="sidebar-link danger"
        >

            <span>↪</span>

            Logout

        </a>

    </nav>

</aside>
